<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scientory-by-PHJ-STUDIO-IOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CE1312D24EC1C30008A9FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE1314324EC1C31008A9FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE1314E24EC1C31008A9FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
